<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Spring eCommerce</title>


<!-- Bootstrap core CSS -->
<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link th:href="@{/css/heroic-features.css}" rel="stylesheet">

<style>
body {
	padding: 0;
	background-color: #f3f3f3;
}

img {
	max-width: 100%;
	height: auto;
}

ul {
	padding-left: 0;
}

.position-relative-own {
	position: relative;
	z-index: 101;
}

.position-absolute-own {
	position: absolute;
	top: -40px;
}

.modal-show {
	display: block;
}

.opacity-05 {
	opacity: 0.5;
}

.overflow-none {
	z-index: 1000;
	overflow-y: visible;
	overflow-x: visible;
}
</style>
</head>

<body>

	<!-- Navigation 
  <div th:include="administrador/template_admin.html::header"></div>-->

	<!-- Page Content -->
	<div
		class="container  container-xxl overflow-auto position-relative-own h-75">


		<!-- Page Heading/Breadcrumbs -->
		<h1 class="mt-4 mb-3">
			Top Moda <small>Marcas</small>
		</h1>

		<div class="contenedor-form">
			<div class="contenedor-main">
				<div
					class="form-group mb-2 d-flex flex-row justify-content-between align-items-center ">
					<div
						class="d-flex flex-row justify-content-between align-items-center">
						<input type="text" name="palabraClave" class="form-control me-2"
							id="palabraClave" th:value="${palabraClave}"
							placeholder="Digite el valor a buscar"> <input
							type="submit" class="btn btn-primary " value="Buscar">
						&nbsp;&nbsp; <input type="button" class="btn btn-secondary "
							value="Limpiar" onclick="limpiarCampos()">
					</div>
					<button class="btn btn-primary col-2"
						onclick="abrirModalCrearMarca()">Crear Marca</button>
				</div>
			</div>

		</div>
<!-- 
		<div class="contenedor-form">
			<form class="from-inline" th:action="@{/}">
				<div
					class="form-group mb-2 d-flex justify-content-between align-items-center ">
					<div
						class="d-flex flex-row justify-content-between align-items-center">
						<input type="text" name="palabraClave" class="form-control me-2"
							id="palabraClave" th:value="${palabraClave}"
							placeholder="Digite el valor a buscar"> <input
							type="submit" class="btn btn-primary " value="Buscar">
						&nbsp;&nbsp; <input type="button" class="btn btn-secondary "
							value="Limpiar" onclick="limpiarCampos()">

					</div>

					<button class="btn btn-primary col-2"
						onclick="abrirModalCrearMarca()">Crear Marca</button>
				</div>
			</form>

		</div> -->


		<h2>Marcas</h2>
		<table class="table" id="tablaMarcas">
			<thead>
				<tr>
					<th scope="col">Nombre</th>
					<th scope="col">Activo</th>
					<th scope="col">Acción</th>
					<th scope="col">Acción</th>
				</tr>
			</thead>
			<tbody>

				<tr th:each="p:${bMarcas}">
					<td th:text=${p.nombre}></td>
					<td th:text="${p.activo} ? 'Si' : 'No'"></td>
					<td><button class="btn btn-warning edit col-6"
							th:data-id="${p.id}" th:data-name="marcas">Editar</button></td>
					<td><button class="btn btn-danger delete col-6"
							th:data-id="${p.id}" th:data-name="marcas">Eliminar</button></td>
				</tr>
			</tbody>
		</table>



		<!-- Modal -->
		<div class="modal fade overflow-none position-absolute-own mt-3"
			id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel"
			aria-hidden="true">

			<div class="modal-dialog modal-xl">
				<div class="modal-content">
					<div class="modal-header bg-dark text-white">
						<h5 class="modal-title" id="exampleModalLabel">Marca</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body ">

						<!-- th:value="${producto.id}"  -->
						<input id="txtid" class="invisible" type="text" name="id"
							autocomplete="off" />
						<form id="contenedor" class="row contact-form">


							<div class="col-sm-6">
								<div class="mb-3">
									<!-- th:value="${producto.nombre}" -->
									<label class="form-label">Nombre</label> <input type="text"
										class="form-control" id="textnombre" name="nombre" required
										placeholder="Escriba el nombre de la marca"
										title="El nombre solo acepta letras y espacios en blanco"
										pattern="^[A-Za-zÑñÁáÉéÍíÓóÚúÜü\s]+$" />
								</div>
							</div>



							<div class="col-sm-6">

								<div class="mb-3">
									<label class="form-label">Activo</label> <select id="cboactivo"
										name="activo" class="form-select">
										<option value="true">Si</option>
										<option value="false">No</option>
									</select>
								</div>
								-


							</div>

						</form>


						<div class="row g-1">






							<!-- <div class="col-sm-6">
						@*//Que sea una columna pequeña(sm) y que ocupe la mitad del formulario
						<label for="txtdescripcion" class="form-label">Descripcion</label>
						<input type="text" class="form-control" id="txtdescripcion" placeholder="Escriba la descripcion" autocomplete="off">
					</div>
					<div class="col-sm-6">
						//Que sea una columna pequeña(sm) y que ocupe la mitad del formulario*
						<label for="cboactivo" class="form-label">Activo</label>
						<select class="form-select" id="cboactivo">
							<option value="1">Si</option>
							<option value="0">No</option>
						</select>
					</div>*@ -->
						</div>

						<!--Mensaje de alerta-->
						<div class="row mt-2">
							<div class="col-12">
								<div id="mensajeError" class="alert alert-danger" role="alert">

								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary col-2"
							data-bs-dismiss="modal" onclick="cerrarModalCM()">Cerrar</button>
						<button type="button" class="btn btn-primary col-2"
							onclick="guardarMarca()">Guardar</button>
					</div>
				</div>
			</div>
		</div>


	</div>
	<!-- /.container -->

	<!-- Footer 
<div th:include="administrador/template_admin.html::footer"></div>-->

	<!-- Bootstrap core JavaScript -->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>
